<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4 register">
            <form>
                 <div class="form-group">
                    <label for="usernamae">Username</label>
                    <input type="text" autocomplete="off" class="form-control" id="username" placeholder="Enter username" autofocus>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div id="btn">
                <button type="submit" class="btn btn-primary ">Submit</button>
                <div>
            </form>
        </div>
    </div>
</div>