<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4 register">
            <form>
                <div class="form-group" id="form">
                    <label for="email_add">Email address</label>
                    <input autocomplete="off" type="email" class="form-control" id="email_add" placeholder="Enter email" autofocus>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                 <div class="form-group">
                    <label for="usernamae">Username</label>
                    <input type="text" autocomplete="off" class="form-control" id="username" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="password_confirm">Password</label>
                    <input type="password" class="form-control" id="password_confirm" placeholder="Password">
                </div>
                <div id="btn">
                <button type="submit" class="btn btn-primary ">Submit</button>
                <div>
            </form>
        </div>
    </div>
</div>